* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.header {}

.header__head {
    font-size: 24px;
    text-transform: uppercase;
}

.loader {
    display: none;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.rows {
    width: 90%;
    max-width: 960px;
}

.rows__head {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    border-bottom: dashed 1px #DDD;
}

.boundaries-padding {
    padding: 16px 0;
}

.sides-padding {
    padding: 0 16px;
}

.rows__head-title {
    font-size: 14px;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
}

.rows__main {
    display: flex;
    flex-direction: column;
}

.rows__item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: solid 1px #DDD;
}

.account {
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #AAA;
    background: #FAFAFA;
}

.form {
    width: 90%;
    max-width: 960px;
}

.form__select-group {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #DDD
}

.form__label {
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
    border-bottom: dashed 1px #DDD
}

.form__select {
    margin: 16px;
    height: 30px;
    border:none;
    border-bottom: solid 1px #DDD;
}

.form__button {
    border: none;
    width: 100%;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    color: #222;
    background: #EEE;
    text-transform: uppercase;
    cursor: pointer;
    transition: background .3s;
}

.form__button:hover {
    background: rgb(212, 210, 210);
}